$background-Color-Light: hsl(0, 0%, 98%);
$background-Color-Dark: hsl(207, 26%, 17%);

$Card-background-Color-Ligit: hsl(0, 0%, 100%);
$Card-background-Color-Dark: hsl(209, 23%, 22%);
$Card-color: hsl(0, 0%, 100%);

$light-Dark-Bg-Color: hsl(209, 23%, 22%);