.header {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.234);
    .container {
        max-width: 1150px;
        margin: 0 auto 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem 1rem;

        .h1 {
            cursor: pointer;
        }


        .themeSwitch {
            border: none;
            font-size: 1.1rem;
            background-color: transparent;
            font-weight: 600;
            cursor: pointer;
            .fa-moon {
                margin-right: .5rem;
            }
        }
    }
}

body.dark {
    .header {
        background-color: hsl(209, 23%, 22%);
        color: #fff;
        .container {
            .themeSwitch {
                color: #fff;
            }
        }
    }
}