@use "globla" as *;

.searchBar {
    max-width: 1150px;
    margin: 4rem auto 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

    .form {
        flex-basis: 35%;
        .formGroup {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding-left: 1rem;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.438);

            .search {
                width: 100%;
                padding: .9rem .5rem .9rem 0;
                margin-left: 1rem;
                border: none;
                font-family: inherit;
                font-weight: 600;

                &::placeholder {
                    opacity: .8;
                }

                &:focus, &:active {
                    outline: none;
                }
            }

            .fa-magnifying-glass {
                opacity: .6;
            }
        }
    }

    .backBtn {
        padding: .5rem 1.5rem;
        border: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.239);
        background-color: transparent;
        cursor: pointer;
    
        .fa-arrow-left-long {
            margin-right: .5rem;
        }
    }
}


body.dark {
    .searchBar {
        .form {
            .formGroup {
                background-color: $light-Dark-Bg-Color;
                .search {
                    background-color: $light-Dark-Bg-Color;
                    color: #fff;

                    &::placeholder {
                        color: #fff;
                    }
                }
            }
        }
    }
    .backBtn {
        color: #fff;
        background-color: hsl(209, 23%, 22%);
    }
}

@media (max-width: 640px) {
    .searchBar {
        flex-direction: column;
        align-items: flex-start;
        .form {
            margin-bottom: 1rem;
            width: 100%;
        }
    }
}